
{ :check-interval-ms 10000

  :files
    { "sample.log"
        { :line-regex "^(?<timestamp>[0-9.,: -]+) (?<loglevel>ERROR) (?<origin>[^-]+) - (?<message>.*)$" }
    ;  "/home/kvafy/programming/clojure/log-watchdog/errors.log"
    ;    { :line-regex "^(?<loglevel>ERROR)  .*"}
    }
}
