
{ :check-interval-ms 5000

  :files
    { "test/resources/errors.log"
        { :line-regex "^ERROR.*$" }
      "/home/kvafy/programming/clojure/log-watchdog/test/resources/warns.log"
        { :line-regex "^WARN.*$"}
    }
}
